header{
    display: flex;
    align-items: center ;
    justify-content:space-between;
    border-bottom: 1px solid rgba(112, 16, 175, 0.795);
    background-color: #fcb7df9d;
}

nav{
    text-align: right;
    display:inline-block;
    width:80%;
}


li{
    font-size: 15px;
    color: rgb(25, 212, 212);
    display: inline-block;
    margin: 20px;
    cursor: pointer;
}

.imgLogo{
    height: 120px;
    width: 200px;
    margin-left: 50px;
}